<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Profite</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo_profite.jpeg') }}" alt="">
        </div>
        <div class="busca">
            
            <div class="texto"><form>O que está procurando?</form></div>
            <div class="img_lupa"><img src="{{ url_for('static', filename='img/lupa.png') }}" alt=""></div>
            
        </div>
        <div class="opc">
        <div class="user">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="">
            <div class="conta">Minha conta</div>
        </div>
        <div class="carrinho"><img src="{{ url_for('static', filename='img/carrinho.png') }}" alt=""></div>
        <div class="idiomas">
            <img src="{{ url_for('static', filename='img/brasilsilsil.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/Es.png') }}" alt="">
            <img src="{{ url_for('static', filename='img/GB.png') }}" alt="">
        </div>
    </div>
    </div>
    <div class="banner">
        
        <div class="text_banner"></div>
        <div class="img_banner"></div>
    </div>
    <div class="produtos">

    </div>
    <footer>

    </footer>
</body>
</html>