@media screen and (min-width:360px){
    
body{
    margin: 0px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    background: #fFFF;
    justify-content: space-around;
}

.logo{
    display: flex;
    height: 3vw;
}

.logo > img{
    margin-left: 17vw;
}

.busca{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
}

.opc{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 15vw;
}

.user{
    display: flex;
    align-items: center;
    width: 10vw;
}

.carrinho{
    width: 4vw;
}

.idiomas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 10px;
}

.idiomas > img{
    height: 15px;
}


.banner{
    display: flex;
    height: 45vh;
    
}

.img_banner{
    background-color:#2EC4B6;
    background: url(../img/banner.jpeg);
    background-repeat: round;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}
.hover{
    background-color: #03564f61;
    width: -webkit-fill-available;
}

.text_banner{
    background: #011627;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    font-size: 13px;
    font-family: system-ui;
    align-items: center;
    
}

.text{
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: center;
    align-content: center;
}

.produtos{
    display: flex;
    flex-direction: column;
    height: 50vh;
    background: #fff;
}


footer {
    background-color: #011627;
    height: 30vh;
}


.local{
    margin-left: 15%;
    padding-top: 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.retangulo {
    width: 44px;
    height: 4px;
    background-color: #FF9F1C;
    margin-left: 15%;
}

.conteudo{
    display: flex;
    padding-left: 15vw;
    justify-content: flex-start;
    height: 1vw;
}
.text_local{
    font-weight: bold;
    font-size: 13px;
}

.contact{
    width: 15%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.em_contato{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}



}