@media screen and (min-width:360px){
    
body{
    margin: 0px;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    background: #fFFF;
    justify-content: space-around;
}

.logo{
    display: flex;
    height: 3vw;
}

.logo > img{
    margin-left: 17vw;
}

.busca{
    border-bottom: thin;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: none none solid none;
    border-color: dimgrey;
    
}

.texto_busca{
    width: 22vw;
    font-size: 14px;
    color: dimgray;
}

.img_lupa > img{
    height: 20px;
}
.opc{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 15vw;
}

.user{
    display: flex;
    align-items: flex-end;
    width: 10vw;
    justify-content: flex-start;
    
}

.user >img{
    height: 20px;
}

.user .conta > a{
    font-size: 15px;
}
.carrinho{
    width: 4vw;
}

.carrinho > img{
    height: 20px;
}

#divisoria{
    width: 0.04vw;
    height: 4vh;
    background-color: black;
    margin: 1vw;
}

.idiomas{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 10px;
    padding: 2px;
}

.idiomas > img{
    height: 15px;
}


.banner{
    display: flex;
    height: 45vh;
    
}

.img_banner{
    background-color:#2EC4B6;
    background: url(../img/banner.jpeg);
    background-repeat: round;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
}
.hover{
    background-color: #03564f61;
    width: -webkit-fill-available;
}

.text_banner{
    background: #011627;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    font-size: 13px;
    font-family: system-ui;
    align-items: center;
    
}

.text{
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: center;
    align-content: center;
}

footer {
    background-color: #011627;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.local{
    padding-top: 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.retangulo {
    width: 44px;
    height: 4px;
    background-color: #FF9F1C;
}

.conteudo{
    display: flex;
    justify-content: space-around;
    height: 1vw;
}

.text_local{
    font-weight: bold;
    font-size: 13px;
}

.contact{
    width: 7vw;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.em_contato{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.endereco{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botoes a{
    display: flex;
    margin: .4vw;
}

.botoes a img{
    width: 15vw;
}

.created{
    display: flex;
    align-items: flex-end;
    height: 25vh;
}

.created img{
    width: 10vw;
}


.produtos{
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0 15vw;
}

.titulo h1{
    padding-top: 10px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#produtos_lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.produto{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto #produto_img{
    width: 10vw;
}

.produto_nome, .produto_preco_antigo, .produto_parcelado{
    margin: 0;
    color: #7A7A7A;
}

.produto_nome, .produto_preco{
    margin: .2vw;
    font-size: larger;
}

.produto_preco{
    margin: .2vw;
    font-size: x-large;
    color: #2EC4B6;
    font-weight: bold;
}

.botao_adicionar_charrinho{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2ec4b6;
    border-radius: .5vw;
    padding: 0.4vw 2vw;
    margin: 1vw;
}

.botao_adicionar_charrinho img{
    width: 2vw;
    margin: 0 1.5vw 0 0;
}

.botao_adicionar_charrinho p{
    margin: 0;
    color: #fff;
    font-weight: 600;
}

}